<div class="col-12">
    <div class="row justify-content-center">
      <div class="col-8" [formGroup]="surveyForm">
        <label class="title">Create Survey</label>
        <div class="mb-3">
          <label for="name" class="form-label label-fields">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label label-fields">Description</label>
          <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
        </div>
        <button type="button" class="btn btn-create">Edit Survey</button>
      </div>

      <div class="col-8 separator mt-5 mb-4"></div>

      <div class="col-8 d-flex flex-column" [formGroup]="createFieldForm">
        <label class="title">Add Fields</label>
        <div class="row">
            <div class="col-6 flex-column d-flex">
                <label for="name_field" class="form-label label-fields">Name of field</label>
                <textarea class="form-control" id="name_field" rows="2" formControlName="name"></textarea>
            </div>
            <div class="col-2 flex-column d-flex">
                <label for="type_field" class="form-label label-fields">Type of field</label>
                <select class="form-select" aria-label="Default select example" formControlName="type">
                    <option selected>Select one</option>
                    <option value="Number">Number</option>
                    <option value="Text">Text</option>
                    <option value="Date">Date</option>
                    <option value="Multiple Choise">Multiple Choise</option>
                    <option value="Single Choise">Single Choise</option>
                </select>
            </div>
            <div class="col-2 flex-column d-flex align-items-center">
                <label for="required_field" class="form-label label-fields">Is Required</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="is_required">
                </div>
            </div>
            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <i class="fa-solid fa-square-plus" style="color: #182646; transform: scale(1.8);" (click)="createField()"></i>
            </div>
        </div>
      </div>

      <div class="col-8 separator mt-5 mb-4"></div>

      <div class="col-8 d-flex flex-column" [formGroup]="fieldForm">
        <label class="title">Modify Fields</label>
        <form formArrayName="fields">
            @for(item of surveyFields; track item.id; let idx = $index){
                <div class="row" [formGroupName]="idx">
                    <div class="col-6 flex-column d-flex">
                        <label for="name_field_u_{{idx}}" class="form-label label-fields">Name of field</label>
                        <textarea class="form-control" id="name_field_u" rows="2" formControlName="name" [value]="item.name"></textarea>
                    </div>
                    <div class="col-2 flex-column d-flex">
                        <label for="type_field" class="form-label label-fields">Type of field</label>
                        <select class="form-select" aria-label="Default select example" formControlName="type" [value]="item.type">
                            <option value="Number">Number</option>
                            <option value="Text">Text</option>
                            <option value="Date">Date</option>
                            <option value="Multiple Choise">Multiple Choise</option>
                            <option value="Single Choise">Single Choise</option>
                        </select>
                    </div>
                    <div class="col-2 flex-column d-flex align-items-center">
                        <label for="required_field" class="form-label label-fields">Is Required</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="is_required" [checked]="item.is_required">
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-pen pe-5" style="color: #0cb887; transform: scale(1.5);"></i>
                        <i class="fa-solid fa-trash" style="color: #f62421; transform: scale(1.5);"></i>
                    </div>
                </div>
            }@empty {
                <label>There are no fields</label>
            }
        </form>
      </div>
    </div>
  </div>
  