<div class="col-12 py-4">
    <div class="row justify-content-center">
        <div class="col-8 d-flex flex-column">
            <label class="title py-3">List of surveys</label>
            @for(item of surveys; track item.name; let idx_i = $index){
            <div class="card mt-3">
                <div class="card-header">
                    {{ item.name }}
                </div>
                <div class="card-body" style="height: 5rem">
                    <div class="row w-100">
                        <div class="col-8 align-items-center d-flex">
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <div class="col-4 align-items-center flex-row">
                            <div class="row w-100">
                                <div class="col-6 d-flex justify-content-center">
                                    <label>View Answers</label>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-6 d-flex justify-content-center">
                                    <i [ngClass]="{
                                            'fa-eye': !item.watch,
                                            'fa-eye-slash': item.watch
                                        }" class="fa-regular pt-2" style="color: #0cb887; transform: scale(1.5)"
                                        (click)="viewAnswers(idx_i)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-start">
                    Created for {{ item.creator_user.username }} at
                    {{ item.date_created.split("T")[0] }}
                </div>
            </div>
            @for(field of item.fields; track field.name; let idx_f = $index){
                <div class="card mt-3" *ngIf="item.watch">
                    <div class="card-body px-4">
                        <div class="row w-100">
                            <div class="col-12 align-items-center d-flex py-2">
                                <p class="card-text field-text">{{idx_f + 1}} {{field.name}}</p>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col-12 align-items-center flex-row">
                                <ul class="list-group">
                                    @for(answer of field.response; track 'answer-' + idx_a; let idx_a = $index){
                                        <li class="list-group-item">
                                            @if(field?.type === 'MultipleChoice'){
                                                {{answer.replace('|', " - ")}}
                                            }@else {
                                                {{answer}}
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            } @empty {
                <label>There are no surveys</label>
            }
        </div>
    </div>
</div>