<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-8 d-flex flex-column">
            <label class="title">Survey's name</label>
            <label class="mt-3">Description</label>
        </div>

        <div class="col-8 separator mt-5 mb-4"></div>


        <div class="col-8 d-flex flex-column pb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <span>1.</span>
                        </div>
                        <div class="col-11">
                            <label>Field</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <input class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>